        body {
            font-family: 'Inter', sans-serif;
            background-color: #f3f4f6; /* Fondo gris claro */
        }
        /* Estilos para el botón de reservar */
        .btn-reserve {
            background-image: linear-gradient(to right, #10B981 0%, #059669 100%);
            transition: all 0.3s ease;
        }
        .btn-reserve:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 10px rgba(5, 150, 105, 0.4);
        }
        .card-shadow {
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        }

        .ajuste-fecha{
            padding: 3%;
        }